<ion-view view-title="Daily Entry">
  <ion-content class="padding">
      <a ui-sref='tab.entry.tag' class="button button-full button-royal">TAG ENTRY</a>
      <a ui-sref='tab.entry.yarn' class="button button-full button-royal">YARN ENTRY</a>
      <a class="button button-full button-royal">BEAM ENTRY</a>
      <a class="button button-full button-royal">DRAW IN ENTRY</a>
      <a class="button button-full button-royal">BEAM ON ENTRY</a>
      <a class="button button-full button-royal">PACKING SLIP</a>
      <a class="button button-full button-royal">JOB ENTRY</a>
      <a class="button button-full button-royal">TAGE TP</a>
  </ion-content>
</ion-view>
